body{
    background-image: url(https://images.unsplash.com/photo-1594734415578-00fc9540929b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
}
div{
    color: black;

}
h3:hover{
    background-color: rgb(170, 170, 170);
   margin-right: 95%;
}
